<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192319556201-gdnguts1okuok0g0d64e1erobob2uc4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192319556201-gdnguts1okuok0g0d64e1erobob2uc4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDJHI7nhIhEOYytVUgfumRa4UQsH1uNenA</string>
	<key>GCM_SENDER_ID</key>
	<string>192319556201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finlittGdsc</string>
	<key>PROJECT_ID</key>
	<string>finlitt-cb9cb</string>
	<key>STORAGE_BUCKET</key>
	<string>finlitt-cb9cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192319556201:ios:9255eceabe0c65636970f8</string>
	<key>DATABASE_URL</key>
	<string>https://finlitt-cb9cb-default-rtdb.firebaseio.com</string>
</dict>
</plist>